@import url("zero.css");
@import url("header.css");
@import url("effects.css");


body{
    background-color: #181818;
    font-family: 'Martian Mono', monospace;
    overflow: hidden;
}


.container {
    margin: 0 auto;

    max-width: 100%;
    width: 1920px;
    height: 100vh;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h3{
    /* font-size: 80px; */
    font-weight: 600;
}

@media only screen and (min-width: 1500px) {
    .logo img {
        max-height: 50%;
        height: auto;

        max-width: 200px;
        width: 50%;
        
    }
}
.js{
    z-index: -1;
}