@import url("zero.css");
@import url("header.css");
@import url("effects.css");
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400&display=swap');
@import url(content.css);

body{
    background-color: #000000;
    font-family: 'Martian Mono', monospace;
    font-family: 'Handjet', cursive;
    overflow: hidden;
    
}

/* <span class="auto-type"></span> */
.container {
    background: #000;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    color:  white;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    /* justify-content: center; */
}

.js{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20.3px;
}

.overlay {
    position: absolute;
    background-color: rgb(0, 0, 0); /* Прозорий чорний фон */
    color: #ffffff; /* Колір тексту */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Забезпечує найвищий рівень накладення, щоб лейтконтент був поверх всіх інших елементів */
    height: 100vh;
    width: 100%;
    font-size: 10.3px;
}

.click-but{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Додамо плавні переходи для opacity */
.transition-opacity {
    transition: opacity 0.7s ease; /* Тут можна змінити тривалість анімації, вказавши інший час (у секундах) */
}

.page-footer {
    margin-top: -10%;
    margin-bottom: 6%;
    width: 100%;
    font-weight: 800;
    font-size: 25px;
    /* background: #fff; */
    color: #ffffff;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}